<p><b>Lista de pedidos</b></p>
<table id="order-list">
    <thead>
      <tr>
        <th># pedido</th>
        <th>Cliente</th>
        <th>Bicicletas</th>
        <th colspan="2">Operaciones</th>
      </tr>
    </thead>
  
    <tbody>
    
     <tr *ngFor="let order of bikeOrders">
        <td>
         {{ order.payload.doc.data().orderNumber }} 
        </td>
        <td>{{ order.payload.doc.data().customerId }} - {{ order.payload.doc.data().customerName }} </td>
        <td>
         <span *ngFor="let bike of order.payload.doc.data().bikeOrder">
            {{ bike }} | 
           </span>
        </td>
        <td
          [hidden]="order.payload.doc.data().completed"
          (click)="markCompleted(order)">
          <i class="material-icons">check</i>
       </td>
       <td
          [hidden]="order.payload.doc.data().completed"
          (click)="deleteOrder(order)">
          <i class="material-icons">delete_forever</i>
        </td>
      </tr>
    </tbody>
  </table>